@model Login2.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "User"))
{
    @Html.ValidationSummary(true, "Login failed. Check your login details");
    <div>
        <fieldset>
            <legend>@ViewBag.Title</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Username)
                @Html.ValidationMessageFor(u => u.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>

            <div>
                <span>
                    Not a member?
                </span>
                <a>
                    @Html.ActionLink("Sign up now", "Register", "User")
                </a>
            </div>
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
}
