@model Login2.Models.Profile
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var profile = ViewBag.Message;
    if (ViewBag.Message == null)
    {
        Html.Action("ProfileEditor", "Profile");
    }

}

<h1>@profile.Username</h1>

<h2>@profile.FirstName @profile.LastName</h2>

<h3>@profile.Fame</h3>

<div>
    <h2>Biography</h2>
    @profile.Bio
</div>
<div>
    <h2>Age</h2>
    @profile.Age
</div>
<div>
    <h2>Gender</h2>
    @profile.Gender
</div>
<div>
    <h2>Sex Preference</h2>
    @profile.SexPref
</div>
<div>
    <h2>Tags</h2>
    @for (int i = 0; i < profile.Tags.Count; i++)
    {
        <div>
            @profile.Tags[i].TagName
        </div>
    }
</div>

<div>
    <h2>Your Location</h2>
    @profile.Location
</div>
    @Html.ActionLink("Edit", "ProfileEditor", "Profile")

