@model Login2.Models.Profile
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var profile = ViewBag.Message;
    if (ViewBag.Message == null)
    {
        Html.Action("ProfileEditor", "Profile");
    }

}

<h2>Profile</h2>

<div>
    <h1>Biography</h1>
    @profile.Bio
</div>
<div>
    <h1>Gender</h1>
    @profile.Gender
</div>
<div>
    <h1>Sex Preference</h1>
    @profile.SexPref
</div>
<div>
    <h1>Tags</h1>
    @for (int i = 0; i < profile.Tags.Count; i++)
    {
        <div>
            @profile.Tags[i].TagName
        </div>
    }
</div>
@Html.ActionLink("Edit", "ProfileEditor", "Profile")

