<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <h1 class="nav-item">
                    @Html.ActionLink("Matcha", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </h1>
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="mr-auto navbar-nav">
                        <li class="nav-item mr-2">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <span class="mr-2"> | </span>
                        <li class="nav-item mr-2">
                            @Html.ActionLink("Profile", "ProfileView", "Profile")
                        </li>
                        <span class="mr-2"> | </span>
                        <li class="nav-item mr-2">
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                    </ul>
                    <div>
                        <strong>@Html.Encode(User.Identity.Name)</strong>

                        @{ 
                            Session["Username"] = User.Identity.Name;
                            Session["LoggedIn"] = true;
                        }

                        @Html.ActionLink("Sign Out", "Logout", "User")
                        @Html.Display("Signed in")
                            <form class="form-inline ml-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Matcha</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
